/* 入力フィールドのコンテナ */
.tag-container-input {
    display: flex;
    align-items: center;
}

.tag-container-input label {
    margin-right: 10px;
    font-weight: bold;
    width: 120px;
}

.tag-container-input input[type="text"] {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* タグリストのコンテナ */
.tag-container-list {
    margin-top: -5px;
}

/* タグリスト */
.tag-list {
    padding-left: 130px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* タグの項目 */
.tag-item {
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

/* タグの削除ボタン */
.remove-tag-button {
    background: none;
    border: none;
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
}